.home {
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}
.home-body {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
@media (orientation: landscape) and (min-width: 768px) {
  .home-list {
    padding-left: 8%;
    padding-right: 8%;
  }
}
