.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #0f172a;
  padding: 16px;
}
.footer-logo-container {
  display: flex;
  align-items: center;
}
.footer-logo-image {
  height: 32px;
  width: 37px;
}
.footer-heading {
  font-family: DM Sans;
  font-size: 20px;
  font-style: italic;
  font-weight: 700;
  line-height: 24px;
  color: #ffffff;
  text-align: left;
  margin-left: 16px;
}
.footer-description {
  font-family: DM Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  height: 48px;
  width: 280px;
}
.footer-social-logo-container {
  display: flex;
  align-items: center;
  color: #ffffff;
}
.social-icon {
  font-size: 20px;
  margin: 16px;
}
@media (orientation: landscape) {
  .footer-logo-image {
    height: 40px;
    width: 50px;
  }
  .footer-heading {
    font-size: 32px;
  }
  .footer-description {
    height: 64px;
    width: 479px;
    left: 480px;
    top: 168px;
    font-size: 24px;
    line-height: 32px;
  }
  .social-icon {
    font-size: 40px;
  }
  .footer-container {
    padding: 48px;
  }
}
